<!DOCTYPE html>
<html>
<head>
  <title>Opinionated pundit</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "opinionated_pundit/application", media: "all" %>
  <%= javascript_include_tag "opinionated_pundit/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
